.app__content{
    display: flex;
}

.app__content__videolist{
    flex: 0.3;
    background-color: lightgoldenrodyellow;
    padding: 40px 20px;
    padding-bottom: 0;
    margin-bottom: 40px;
}

.app__content__videDetail{
    flex: 0.7;
    padding: 40px 20px;
    padding-bottom: 0;
    margin-bottom: 40px;
    border: 1px lightblue solid;
}